@charset "UTF-8";
/*Polices importées*/
@font-face {
  font-family: "Vogue";
  src: url("fonts/Vogue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FeFCsc2";
  src: url("fonts/FeFCsc2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Variables*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Cormorant Garamond", serif, serif;
  min-height: 100vh;
  position: relative;
}
body h1 {
  font-family: "Vogue", serif;
  text-align: center;
  font-size: 1.5em;
  margin: 1em;
  letter-spacing: 0.1em;
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
body p {
  margin: 0;
  font-size: 1.2em;
}
body button {
  font-family: "Cormorant Garamond", serif;
}
body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  color: #39dfc6;
}
body header {
  background-color: black;
  height: 6rem;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header #burger {
  height: 3em;
  fill: purple;
}
body header #logo-link {
  display: flex;
  justify-content: center;
  height: 5.5em;
}
body header #logo-link #logo {
  align-self: center;
  height: 80%;
  width: auto;
  /*overflow: hidden;*/
}
body header #instagram {
  height: 2em;
}
body header #navigation-desktop {
  display: none;
}
body #navigation {
  max-width: 100%;
  padding: 0.7em;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7em;
  align-items: center;
  max-height: 22rem;
  transition: max-height 0.5s, opacity 0.5s ease-out;
  opacity: 1;
}
body #navigation a {
  color: white;
  font-size: 2em;
  font-family: "Poiret One", serif;
}
body #navigation a:hover {
  color: #39dfc6;
}
body #navigation.hidden {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
body #navigation.hidden a {
  pointer-events: none;
}
body footer {
  /*position: absolute;
  bottom: 0;  */
  background-color: black;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  height: 6rem;
  padding: 0.4em 1em 0.4em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
body footer a {
  color: white;
  font-family: "Poiret One", serif;
  font-variant: small-caps;
  font-size: 1em;
}
body main {
  flex-grow: 1;
}
body main .connexion-redirect,
body main .inscription-redirect,
body main .admin-redirect {
  display: inline-block;
  margin: 0.4em 0 0.7em 0;
  padding: 0.4em 0.6em;
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
body main .connexion-redirect:hover,
body main .inscription-redirect:hover,
body main .admin-redirect:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #accueil-wrapper {
  margin-bottom: 3em;
}
body main #accueil-wrapper #div-photo-accueil {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0.5em;
}
body main #accueil-wrapper #div-photo-accueil #photo-accueil {
  max-width: 20rem;
  padding: 0.5em;
  border: 0.3em double black;
  align-self: center;
}
body main #accueil-wrapper #div-photo-accueil hr {
  width: 90%;
  border: 0;
  height: 1px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: linear-gradient(to right, white, pink, red, pink, white);
}
body main #accueil-wrapper #div-photo-accueil #message-accueil {
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4em;
  align-self: center;
}
body main #accueil-wrapper #adresse-accueil {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.8em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #accueil-wrapper #adresse-accueil span:nth-child(2) {
  text-shadow: black 0px 0.2px;
  display: inline-block;
  background-image: linear-gradient(to right, white, #9FCDC3, #5ED3C2, #9FCDC3, white);
  padding-bottom: 0.15em;
  background-size: 90% 0.05em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
body main #accueil-wrapper #adresse-accueil span:nth-child(3) {
  padding-top: 1em;
}
body main #accueil-wrapper #adresse-accueil .contact-redirect {
  display: inline-block;
  margin-top: 0.4em;
  padding: 0.3em 0.3em;
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
body main #accueil-wrapper #adresse-accueil .contact-redirect:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #accueil-wrapper #map {
  display: none;
}
body main #categories-wrapper {
  display: flex;
  flex-flow: column nowrap;
  /*#categories-pagination {
    display: flex;
    justify-content: center;
    margin-top: .7em;

    a {
      font-family: $link-font;
      padding: .3em; 
      margin: 0 .1em 0 0;
      border: .1em solid black;
    }

    &:hover {
      border: .1em solid $gen-teal;
    }
  }*/
}
body main #categories-wrapper h1 {
  margin: 0.7em 0 1.2em 0;
}
body main #categories-wrapper #categories-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #BEE0D9;
  padding: 1em;
  gap: 0.3em;
}
body main #categories-wrapper #categories-list a {
  background-color: white;
  font-family: "Poiret One", serif;
  font-weight: 700;
  padding: 0.7em;
  border-radius: 2px;
}
body main #categories-wrapper #categories-list a:hover {
  border: 0.1em solid #FFCBC4;
}
body main #categories-wrapper #items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
body main #categories-wrapper #items-list .item-unique {
  margin: 0.5em;
  padding: 0.5em 0.7em 0 0.7em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 17em;
  height: 26em;
  border: 0.05em solid #BEE0D9;
  border-radius: 1px;
}
body main #categories-wrapper #items-list .item-unique h4 {
  padding-bottom: 0.2em;
}
body main #categories-wrapper #items-list .item-unique img {
  background-color: #BEE0D9;
  max-width: 12em;
  padding: 0.5em;
}
body main #categories-wrapper #items-list .item-unique p:nth-child(3) {
  margin-top: 1em;
}
body main #categories-wrapper #items-list .item-unique .price-bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
}
body main #categories-wrapper #items-list .item-unique .price-bookmark .categorie-prix {
  margin-top: auto;
  margin-bottom: 0.5em;
  align-self: flex-start;
  text-shadow: black 0px 0.2px;
}
body main #categories-wrapper #items-list .item-unique .price-bookmark .bookmark {
  padding: 0 0 0.3em 0;
  max-height: 3em;
  background-color: transparent;
  align-self: end;
}
body main #accueilAdmin-wrapper {
  /*display: flex;
  flex-flow: column nowrap;
  align-items: center;*/
}
body main #accueilAdmin-wrapper h4 {
  margin-top: 1em;
}
body main #accueilAdmin-wrapper #accueilAdmin-redirect {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1em;
}
body main #accueilAdmin-wrapper #listusers-wrapper {
  display: block;
  margin: 1em;
  font-size: 1em;
  overflow-x: auto;
}
body main #accueilAdmin-wrapper #listusers-wrapper th, body main #accueilAdmin-wrapper #listusers-wrapper td {
  border: 1px solid #BEE0D9;
  padding: 8px;
  text-align: left;
}
body main #accueilAdmin-wrapper #listusers-wrapper tr:nth-child(even) {
  background-color: #BEE0D9;
}
body main #accueilAdmin-wrapper #listusers-wrapper th {
  background-color: black;
  color: white;
}
body main #additemform-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #additemform-wrapper #additem-form {
  max-width: 35em;
  margin: 1em;
  padding: 2em;
  border: 0.3em double black;
  border-radius: 0.5em;
}
body main #additemform-wrapper #additem-form label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}
body main #additemform-wrapper #additem-form #add-categorie,
body main #additemform-wrapper #additem-form #add-nom,
body main #additemform-wrapper #additem-form #add-prix,
body main #additemform-wrapper #additem-form #add-image,
body main #additemform-wrapper #additem-form #add-description {
  width: 90%;
  padding: 0.1em;
  margin-bottom: 0.3em;
  border: 1px solid #FFCBC4;
  border-radius: 0.2em;
  font-size: 1em;
}
body main #additemform-wrapper #additem-form #add-categorie:focus,
body main #additemform-wrapper #additem-form #add-nom:focus,
body main #additemform-wrapper #additem-form #add-prix:focus,
body main #additemform-wrapper #additem-form #add-image:focus,
body main #additemform-wrapper #additem-form #add-description:focus {
  outline: none;
  border: 1px solid #39cfdf;
  background-color: #f4f9f9;
}
body main #additemform-wrapper #additem-form #add-image {
  border: none;
}
body main #additemform-wrapper #additem-form #additemform-button {
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 80%;
}
body main #additemform-wrapper #additem-form #additemform-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #gestionitem-wrapper #tableitems-wrapper {
  display: block;
  margin-top: 2em;
  overflow-x: auto;
}
body main #gestionitem-wrapper #tableitems-wrapper img {
  max-height: 5em;
}
body main #gestionitem-wrapper #tableitems-wrapper th, body main #gestionitem-wrapper #tableitems-wrapper td {
  border: 1px solid #BEE0D9;
  padding: 8px;
  text-align: left;
}
body main #gestionitem-wrapper #tableitems-wrapper tr:nth-child(even) {
  background-color: #BEE0D9;
}
body main #gestionitem-wrapper #tableitems-wrapper th {
  background-color: black;
  color: white;
}
body main #gestionitem-wrapper #tableitems-wrapper #edit-item,
body main #gestionitem-wrapper #tableitems-wrapper #delete-item {
  background: white;
  margin-top: 1em;
  padding: 0.4em 0.6em;
  border: 0.05em solid #BEE0D9;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
}
body main #gestionitem-wrapper #tableitems-wrapper #edit-item:hover,
body main #gestionitem-wrapper #tableitems-wrapper #delete-item:hover {
  color: white;
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #edititemform-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #edititemform-wrapper #edititem-form {
  max-width: 35em;
  margin: 1em;
  padding: 2em;
  border: 0.3em double black;
  border-radius: 0.5em;
}
body main #edititemform-wrapper #edititem-form label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}
body main #edititemform-wrapper #edititem-form #edit-categorie,
body main #edititemform-wrapper #edititem-form #edit-nom,
body main #edititemform-wrapper #edititem-form #edit-prix,
body main #edititemform-wrapper #edititem-form #edit-image,
body main #edititemform-wrapper #edititem-form #edit-description {
  width: 90%;
  padding: 0.1em;
  margin-bottom: 0.3em;
  border: 1px solid #FFCBC4;
  border-radius: 0.2em;
  font-size: 1em;
}
body main #edititemform-wrapper #edititem-form #edit-categorie:focus,
body main #edititemform-wrapper #edititem-form #edit-nom:focus,
body main #edititemform-wrapper #edititem-form #edit-prix:focus,
body main #edititemform-wrapper #edititem-form #edit-image:focus,
body main #edititemform-wrapper #edititem-form #edit-description:focus {
  outline: none;
  border: 1px solid #39cfdf;
  background-color: #f4f9f9;
}
body main #edititemform-wrapper #edititem-form #edit-image {
  border: none;
}
body main #edititemform-wrapper #edititem-form #edititemform-button {
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 80%;
}
body main #edititemform-wrapper #edititem-form #edititemform-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #messagerie-admin-wrapper #table-message-wrapper {
  display: block;
  margin-top: 2em;
  overflow-x: auto;
}
body main #messagerie-admin-wrapper #table-message-wrapper table th {
  background-color: black;
  color: white;
}
body main #messagerie-admin-wrapper #table-message-wrapper table th, body main #messagerie-admin-wrapper #table-message-wrapper table td {
  border: 1px solid #BEE0D9;
  padding: 8px;
  text-align: left;
}
body main #messagerie-admin-wrapper #table-message-wrapper table td #div-td-message-username {
  font-weight: 700;
}
body main #messagerie-admin-wrapper #table-message-wrapper table tr:nth-child(even) {
  background-color: #BEE0D9;
}
body main #espacepersonnel-wrapper .editinfo-hidden {
  display: none;
}
body main #espacepersonnel-wrapper #editinfo-form {
  margin: 0 2em 0 4em;
  display: grid;
  grid-template-rows: 3em 3em 3em 3em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
}
body main #espacepersonnel-wrapper #editinfo-form .editinput-wrapper:first-child {
  grid-area: 1/1/2/2;
}
body main #espacepersonnel-wrapper #editinfo-form .editinput-wrapper:nth-child(2) {
  grid-area: 2/1/3/2;
}
body main #espacepersonnel-wrapper #editinfo-form .editinput-wrapper:nth-child(3) {
  grid-area: 3/1/4/2;
}
body main #espacepersonnel-wrapper #editinfo-form .editinput-wrapper:nth-child(4) {
  grid-area: 4/1/5/2;
}
body main #espacepersonnel-wrapper #editinfo-form #editinfo-button {
  grid-area: 2/2/3/3;
  justify-self: end;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0.6em;
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
body main #espacepersonnel-wrapper #editinfo-form #editinfo-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #espacepersonnel-wrapper #editinfo-form #editinfo-button.annuler {
  background: linear-gradient(to right, #F57575, #FFCBC4);
}
body main #espacepersonnel-wrapper #editinfo-form #editinfo-button.annuler:hover {
  background: linear-gradient(to right, #FFCBC4, #F57575);
}
body main #espacepersonnel-wrapper #editinfo-form #editinfoform-button {
  display: none;
  grid-area: 3/2/4/3;
  justify-self: end;
  margin-right: 1em;
  padding: 0.4em 0.8em;
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body main #espacepersonnel-wrapper #editinfo-form #editinfoform-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper {
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique {
  margin: 0.5em;
  padding: 0.5em 0.7em 0 0.7em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 17em;
  height: 26em;
  border: 0.05em solid #BEE0D9;
  border-radius: 1px;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique h4 {
  padding-bottom: 0.2em;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique img {
  background-color: #BEE0D9;
  max-width: 10em;
  padding: 0.5em;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique p:nth-child(3) {
  margin-top: 1em;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique .favorite-price-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique .favorite-price-remove .categorie-prix {
  margin-top: auto;
  margin-bottom: 0.5em;
  align-self: flex-start;
  text-shadow: black 0px 0.2px;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique .favorite-price-remove .remove-fav {
  padding: 0;
  max-height: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body main #espacepersonnel-wrapper #liste-favoris-wrapper .favorite-item-unique .favorite-price-remove .remove-fav img {
  padding: 0.2em;
  height: 3em;
  background-color: #BEE0D9;
  border: 0.05em solid #2C9685;
}
body main #inscription-wrapper {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #inscription-wrapper #inscription-form {
  max-width: 35em;
  margin: 0.8em 1em 1em 1em;
  padding: 2em 2em 1em 2em;
  border: 0.3em double black;
  border-radius: 0.5em;
}
body main #inscription-wrapper #inscription-form label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}
body main #inscription-wrapper #inscription-form #inscription-nom,
body main #inscription-wrapper #inscription-form #inscription-prenom,
body main #inscription-wrapper #inscription-form #inscription-email,
body main #inscription-wrapper #inscription-form #inscription-username,
body main #inscription-wrapper #inscription-form #inscription-password,
body main #inscription-wrapper #inscription-form #confirmation-password {
  width: 90%;
  padding: 0.1em;
  margin-bottom: 0.3em;
  border: 1px solid #FFCBC4;
  border-radius: 0.2em;
  font-size: 1em;
}
body main #inscription-wrapper #inscription-form #inscription-nom:focus,
body main #inscription-wrapper #inscription-form #inscription-prenom:focus,
body main #inscription-wrapper #inscription-form #inscription-email:focus,
body main #inscription-wrapper #inscription-form #inscription-username:focus,
body main #inscription-wrapper #inscription-form #inscription-password:focus,
body main #inscription-wrapper #inscription-form #confirmation-password:focus {
  outline: none;
  border: 1px solid #39cfdf;
  background-color: #f4f9f9;
}
body main #inscription-wrapper #inscription-form #inscription-button {
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  margin-top: 1em;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 65%;
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
}
body main #inscription-wrapper #inscription-form #inscription-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #connexion-wrapper {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #connexion-wrapper #connexion-form {
  max-width: 35em;
  margin: 0.8em 1em 1em 1em;
  padding: 2em 2em 1em 2em;
  border: 0.3em double black;
  border-radius: 0.5em;
}
body main #connexion-wrapper #connexion-form label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}
body main #connexion-wrapper #connexion-form #connexion-username,
body main #connexion-wrapper #connexion-form #connexion-password {
  width: 90%;
  padding: 0.1em;
  margin-bottom: 0.3em;
  border: 1px solid #FFCBC4;
  border-radius: 0.2em;
  font-size: 1em;
}
body main #connexion-wrapper #connexion-form #connexion-username:focus,
body main #connexion-wrapper #connexion-form #connexion-password:focus {
  outline: none;
  border: 1px solid #39cfdf;
  background-color: #f4f9f9;
}
body main #connexion-wrapper #connexion-form #connexion-button {
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  margin-top: 1em;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 56%;
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
}
body main #connexion-wrapper #connexion-form #connexion-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #contact-wrapper {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #contact-wrapper .contact-infos {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #contact-wrapper .contact-infos img {
  max-width: 3em;
}
body main #contact-wrapper .contact-infos p {
  font-size: 1.4em;
}
body main #contact-wrapper .contact-infos span:last-child {
  display: inline-block;
  font-size: 1.4em;
  background-image: linear-gradient(to right, white, #9FCDC3, #5ED3C2, #9FCDC3, white);
  padding-bottom: 0.15em;
  background-size: 100% 0.1em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  text-shadow: black 0px 0.2px;
}
body main #contact-wrapper #contact-form-wrapper {
  margin-top: 0.5em;
  font-size: 1.5em;
}
body main #contact-wrapper #contact-form-wrapper #contact-us-onwebsite {
  margin-left: 1em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form {
  max-width: 35em;
  margin: 1em 1em 1em 1em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form label {
  font-family: "Linden Hill", serif;
  font-size: 0.7em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form #text-message-sent {
  width: 90%;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: 1px solid #FFCBC4;
  border-radius: 0.2em;
  font-family: "Linden Hill", serif;
  font-size: 1em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form #text-message-sent::placeholder {
  font-size: 0.8em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form #text-message-sent:focus {
  outline: none;
  border: 1px solid #39cfdf;
  background-color: #f4f9f9;
}
body main #contact-wrapper #contact-form-wrapper #contact-form #send-message-button {
  background: linear-gradient(to right, #89D6CB, #9FCDC3);
  color: #fff;
  margin-top: 1em;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 65%;
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
}
body main #contact-wrapper #contact-form-wrapper #contact-form #send-message-button:hover {
  background: linear-gradient(to right, #9FCDC3, #89D6CB);
}
body main #contact-wrapper #contact-redirection {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main #cgu-wrapper,
body main #ml-wrapper,
body main #aboutus-wrapper,
body main #privacypolicy-wrapper {
  margin: 0.4em;
}
body main #cgu-wrapper h1,
body main #ml-wrapper h1,
body main #aboutus-wrapper h1,
body main #privacypolicy-wrapper h1 {
  text-align: center;
}
body main #cgu-wrapper p,
body main #ml-wrapper p,
body main #aboutus-wrapper p,
body main #privacypolicy-wrapper p {
  font-family: "Linden Hill", serif;
  margin-top: 0.7em;
}
body main #cgu-wrapper #thx-text,
body main #ml-wrapper #thx-text,
body main #aboutus-wrapper #thx-text,
body main #privacypolicy-wrapper #thx-text {
  text-align: justify;
  margin: 1em 0 1em 0;
  font-size: 1.3em;
}
body main #cgu-wrapper ul li,
body main #ml-wrapper ul li,
body main #aboutus-wrapper ul li,
body main #privacypolicy-wrapper ul li {
  font-family: "Linden Hill", serif;
}
@media only screen and (min-width: 768px) {
  body header {
    width: auto;
    height: 7rem;
    display: grid;
    grid-template-columns: 6fr 1fr 70%;
  }
  body header #logo {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
  }
  body header #insta-link {
    grid-column: 2/3;
    justify-self: center;
  }
  body header #navigation-desktop {
    grid-column: 3/4;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  body header #navigation-desktop a {
    color: white;
    font-family: "Poiret One", serif;
    font-size: 1.3em;
    white-space: nowrap;
  }
  body header #navigation-desktop a:hover {
    color: #39dfc6;
  }
  body #navigation,
  body #burger {
    display: none;
  }
  body main #accueil-wrapper #div-photo-accueil {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 1rem;
  }
  body main #accueil-wrapper #div-photo-accueil #photo-accueil {
    max-width: 20rem;
    padding: 0.6em;
    border: 0.3em double black;
  }
  body main #accueil-wrapper #div-photo-accueil #message-accueil {
    font-size: 1.7em;
    word-spacing: 0.09em;
    padding: 0 2em 0 2em;
    text-align: center;
  }
  body main #accueil-wrapper #div-photo-accueil hr {
    display: none;
  }
  body main #accueil-wrapper #adresse-accueil {
    display: none;
  }
  body main #accueil-wrapper #map {
    display: block;
    height: 20rem;
    /*width: 100%;*/
    margin: 1em 0 1em 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  body main #accueil-wrapper #map iframe {
    min-width: 100%;
    height: 100%;
  }
  body main #accueilAdmin-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  body main #accueilAdmin-wrapper h4 {
    margin-top: 1em;
  }
  body main #accueilAdmin-wrapper #accueilAdmin-redirect {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1em;
  }
  body main #accueilAdmin-wrapper #listusers-wrapper {
    align-self: center;
    margin: 1em;
    font-size: 1em;
  }
  body main #accueilAdmin-wrapper #listusers-wrapper th, body main #accueilAdmin-wrapper #listusers-wrapper td {
    border: 1px solid #BEE0D9;
    padding: 8px;
    text-align: left;
  }
  body main #accueilAdmin-wrapper #listusers-wrapper tr:nth-child(even) {
    background-color: #BEE0D9;
  }
  body main #accueilAdmin-wrapper #listusers-wrapper th {
    background-color: black;
    color: white;
  }
}

/*# sourceMappingURL=compiledSCSS.css.map */
