/*Variables*/

$hoverColor: #f39b96;
$linkFont: 'Grandiflora One', serif;
$textFont: 'Cormorant', serif;


body  {
  
/*Début du CSS Général*/
  
  margin: 0;
  font-family: $textFont, serif;
  
  min-height: 100vh;
  position: relative;
  /*width: 100vw;*/

  a {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: $hoverColor;
    }
  }
  
  /*DÉBUT HEADER*/

  header {
  
    background-color: black;
    height: 6rem;
    margin: 0;
    padding: 0 .5em 0 .5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    #burger {
      height: 3em;
      fill: white;
    }
    
    #logoLink {
      display: flex;
      justify-content: center;
      height: 5.5em;
      
      #logo {
        align-self: center;
        height: 80%;
        width: auto;
        /*overflow: hidden;*/
      }
    }
    
    #instagram {
      height: 2em;
      fill: white;
    }
    
  }
  /*FIN HEADER*/
  
  /*DÉBUT NAV*/
  
  #navigation {
    max-width: 100%;
    padding: 5px;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-height: 22rem;
    transition: max-height .5s, opacity .5s ease-out;
    opacity: 1;
    
    a {
      color: white;
      font-size: 2em;
      font-family: $linkFont;
      
      &:hover {
        color: $hoverColor;
      }
    }
  }
  
  /*JAVASCRIPT DISPLAY*/
  #navigation.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
  
  /*FIN NAV*/
  
  /*DÉBUT FOOTER*/
  
  footer {
    position: absolute;
    bottom: 0;  
    
    background-color: black;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: black;

    
    a {
      color: white;
      font-family: $linkFont;
    }
    
  }
  
  /*FIN FOOTER*/
  
/*Fin du CSS Général*/


/*Début CSS MAIN*/
  
  main {
  
    padding-bottom: 2.5rem;
  
    /*DÉBUT ACCUEIL index.phtml*/
    
    #divAccueil {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin-top: .5rem;
  
      #photoAccueil {  
        max-width: 20rem;
        padding: .5em;
        border: .3em double black;
        align-self: center;
      }
  
      #messageAccueil {
        text-align: center;
        font-family: $textFont;
        font-size: 1.5rem;
        align-self: center;
      }  
    }
  
    #map {
      display: none;
      height: 20rem;
      /*width: 100%;*/
      margin: 1em 0 1em 0;
        
      iframe {
        min-width: 100%;
        height: 100%;
      }
    }
    /*FIN ACCUEIL index.phtml*/
    
    
    /*DÉBUT AJOUT OBJET ADMIN addItemForm.phtml*/
  
      #addItemForm {
      max-width: 35em;
      margin: 1em;
      padding: 2em;
      border: .3em double black;
      border-radius: .5em;
    
      label {
        display: block;
        margin-bottom: 5px;
      }
    
      select,
      input[type="text"],
      input[type="number"],
      input[type="file"],
      textarea {
        width: 90%;
        padding: .1em;
        margin-bottom: .2em;
        border: 1px solid #ffcbc4;
        border-radius: .2em;
        font-size: 1em;
      }
      textarea {
        height: 120px; 
        resize: vertical;
      }
    
      button {
        background-color: #f90101;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
    
        &:hover {
          background-color: $hoverColor;
        }
      }
    }
    /*FIN AJOUT OBJET ADMIN addItemForm.phtml*/
    
  }
  /*Fin CSS MAIN*/
  

  @media only screen and (min-width: 768px) {
      
      header {
        height: 7rem;
      
        #logo {
          height: 100%;
          width: 100%;
        }
      }
  
    /* DEBUT MAIN ACCUEIL*/
    
    #divAccueil {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      margin: 1rem;
    
      #photoAccueil {  
        max-width: 20rem;
        padding: .6em;
        border: .5em double black;
      
      }
    
      #messageAccueil {
        text-align: center;
        align-self: center;
      } 
      
    }
    
    /*CARTE*/
    
      #map {
        display: block;
        height: 20rem;
        /*width: 100%;*/
        margin: 1em 0 1em 0;
          
        iframe {
          min-width: 100%;
          height: 100%;
          }
      }
    
    /*FIN MAIN ACCUEIL*/ 
      
  }
}