/*Général*/
body  {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  
  min-height: 100vh;
  position: relative;
  /*width: 100vw;*/
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

/*Fin Général*/


/*DÉBUT HEADER*/

#burger {
  height: 2rem;
  fill: white;
  
}

header {

  background-color: black;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0 5px 0 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#logoLink {
  display: flex;
  height: 8em;
}

#logo {
  align-self: center;
  height: 70%;
  width: 70%;
}


/*FIN HEADER*/



/*DÉBUT NAV*/

nav {
}


#navigation {
  min-width: 100%;
  padding: 5px;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 15rem;
  transition: max-height .5s, opacity .5s ease-out;
  opacity: 1;
}

#navigation a {
  color: white;
  font-size: 2em;
  
  font-family: 'Grandiflora One', serif;

}

#navigation a:hover {
  color: orange;
  
}

/*FIN NAV*/

/*DÉBUT MAIN ACCUEIL*/

main {
  padding-bottom: 2.5rem;
}

#divAccueilPic {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

#photoAccueil {  
  max-width: 20rem;

}

#messageAccueil {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

#map {
  display: none;
  height: 20rem;
  /*width: 100%;*/
  margin: 1em 0 1em 0;
}

#whiteSquare {
  margin: 0;
  background-color: white;
  height: 17rem;
  width: 25%;
  
  position: absolute;
  top: 24em;
}

iframe {
  min-width: 100%;
  height: 100%;
}

/*FIN MAIN ACCUEIL*/



/*DÉBUT FOOTER*/

footer {
position: absolute;
bottom: 0;  

  background-color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  color: black;
}

footer>a {
  color: white;
}

#instagram {
    height: 2rem;
    fill: white;
}

/*FIN FOOTER*/

/*JAVASCRIPT DISPLAY*/
#navigation.hidden {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}


@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  
  header {
    height: 7rem;
  }
  
  /*pseudo element pour centrer les élements sans avoir à mettre une div vide ou un grid dans le header*/
  header::after {
    content: "";
  }

  #logo {
  height: 100%;
  width: 100%;
  }
  
/*CARTE*/

  #map {
  display: block;
  height: 20rem;
  /*width: 100%;*/
  margin: 1em 0 1em 0;
}

#whiteSquare {
  margin: 0;
  background-color: white;
  height: 21rem;
  width: 30%;
  
  position: absolute;
  top: 24em;
}

iframe {
  min-width: 100%;
  height: 100%;
}

}