/*Polices importées*/

@font-face {
  font-family: 'Vogue';
  src: url('fonts/Vogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FeFCsc2';
  src: url('fonts/FeFCsc2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*Variables*/

$link-font: 'Poiret One', serif;
$text-font: 'Cormorant Garamond', serif;
$title-font: 'Vogue', serif;
$long-text-font: 'Linden Hill', serif;
$buttonlike-link-font: 'FeFCsc2', serif;

$button-color: linear-gradient(to right, #89D6CB, #9FCDC3);
$button-hover: linear-gradient(to right, #9FCDC3, #89D6CB);
$cancel-color: linear-gradient(to right, #F57575, #FFCBC4);
$cancel-hover: linear-gradient(to right, #FFCBC4, #F57575);
$link-hover: #39dfc6;

$gen-teal: #BEE0D9;
$peach: #FFCBC4;




body  {
  
//Début du CSS Général

  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: $text-font, serif;
  
  min-height: 100vh;
  position: relative;
  
  
  h1 {
    font-family: $title-font;
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    letter-spacing: .1em;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $text-font;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  
  p {
    margin: 0;
    font-size: 1.2em;
  }
  
  button {
    font-family: $text-font;
  }
  
  a {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: $link-hover;
    }
  
  }
  
  //DÉBUT HEADER

  header {
  
    background-color: black;
    height: 6rem;
    margin: 0;
    padding: 0 .5em 0 .5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    #burger {
      height: 3em;
      fill: purple;
    }
    
    #logo-link {
      display: flex;
      justify-content: center;
      height: 5.5em;
      
      #logo {
        align-self: center;
        height: 80%;
        width: auto;
        /*overflow: hidden;*/
      }
    }
      #instagram {
        height: 2em;
      }
    
    #navigation-desktop {
      display: none;
    }
    
  }
  //FIN HEADER
  
  //DÉBUT NAV
  
  #navigation {
    max-width: 100%;
    padding: .7em;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    gap: .7em;
    align-items: center;
    max-height: 22rem;
    transition: max-height .5s, opacity .5s ease-out;
    opacity: 1;
    
    a {
      color: white;
      font-size: 2em;
      font-family: $link-font;
      
      
      &:hover {
        color: $link-hover;
      }
    }
  }
  
  //JAVASCRIPT DISPLAY
  #navigation.hidden {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    
    a {
      pointer-events: none;
    }
  }
  
  //FIN NAV
  
  //DÉBUT FOOTER
  
  footer {
    /*position: absolute;
    bottom: 0;  */
    
    background-color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    height: 6rem;
    padding: .4em 1em .4em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    
    a {
      color: white;
      font-family: $link-font;
      font-variant: small-caps;
      font-size: 1em;
    }
    
  }
  
  //FIN FOOTER
  
//Fin du CSS Général


//Début CSS MAIN
  
  main {
    
    //Début du CSS Main Général
    flex-grow: 1;
    
    .connexion-redirect,
    .inscription-redirect,
    .admin-redirect{
        display: inline-block;
        margin: .4em 0 .7em 0;
        padding: .4em .6em;
        background: $button-color;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        
        &:hover {
          background: $button-hover;
        }
      }
    
    //Fin du CSS Main Général
    
    //DÉBUT ACCUEIL index.phtml
    
    #accueil-wrapper {
      margin-bottom: 3em;
      
      #div-photo-accueil {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: .5em ;
        
        #photo-accueil {  
          max-width: 20rem;
          padding: .5em;
          border: .3em double black;
          align-self: center;
        }
        
        hr {
          width: 90%;
          border: 0;
          height: 1px;
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          background-image: linear-gradient(to right, white, pink, red, pink, white);
        }
        
        #message-accueil {
          padding: 1em 1em 0.5em 1em;
          text-align: center;
          font-family: $text-font;
          font-size: 1.4em;
          align-self: center;
        }  
      }
      
      #adresse-accueil {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: .8em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        span:nth-child(2) {
          text-shadow: black 0px .2px;
          display: inline-block; 
          background-image: linear-gradient(to right, white, #9FCDC3, #5ED3C2, #9FCDC3, white);
          padding-bottom: .15em;
          background-size: 90% .05em;
          background-position: 0% 100%;
          background-repeat: no-repeat;
          }
        span:nth-child(3) {
          padding-top: 1em;
        }
        
        .contact-redirect {
          display: inline-block;
          margin-top: .4em;
          padding: .3em .3em;
          background: $button-color;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          
          &:hover {
            background: $button-hover;
          }
        }
      }
      
      #map {
        display: none;
        }
        
    }
    //FIN ACCUEIL index.phtml
    
    
    //DÉBUT CATEGORIES categories.phtml
    
    #categories-wrapper {
      display: flex;
      flex-flow: column nowrap;
      
      h1 {
        margin: .7em 0 1.2em 0;
      }
      
      #categories-list {
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        background-color: $gen-teal;
        padding: 1em;
        gap: .3em;

        a {
          background-color: white;
          font-family: $link-font;
          font-weight: 700;
          padding: .7em;
          border-radius: 2px;
          
          &:hover {
            border: .1em solid $peach;
          }
        }
      }
      
      #items-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
        
        .item-unique {
          
          margin: .5em;
          padding: .5em .7em 0 .7em;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;
          text-align: justify;
          width: 17em;
          height: 26em;
          border: .05em solid $gen-teal; 
          border-radius: 1px;
          
          h4 {
            padding-bottom: .2em;
            
          }
          
          img {
            background-color: $gen-teal;
            max-width: 12em;
            padding: .5em;
          }
          
          p:nth-child(3) {
            margin-top: 1em;
          }
          
          .price-bookmark {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 3em;
            
            .categorie-prix {
              margin-top: auto;
              margin-bottom: .5em;
              align-self: flex-start;
              text-shadow: black 0px .2px;
            }
            
            .bookmark {
              padding: 0 0 .3em 0;
              max-height: 3em;
              background-color: transparent;
              align-self: end;
            }
          }
        }
        
      }
      
      /*#categories-pagination {
        display: flex;
        justify-content: center;
        margin-top: .7em;
        
        a {
          font-family: $link-font;
          padding: .3em; 
          margin: 0 .1em 0 0;
          border: .1em solid black;
        }
        
        &:hover {
          border: .1em solid $gen-teal;
        }
      }*/
      
    }
    
    //FIN CATEGORIES categories.phtml
    
    
    
    //DÉBUT ACCUEIL ADMIN accueilAdminphtml
    
    #accueilAdmin-wrapper {
      
      /*display: flex;
      flex-flow: column nowrap;
      align-items: center;*/

      
      h4 {
        margin-top: 1em;
      }
      
      #accueilAdmin-redirect {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 1em;
      }
      
      #listusers-wrapper {
        display: block;
        //align-self: flex-start;
        margin: 1em;
        font-size: 1em;
        overflow-x: auto;


        th, td {
          border: 1px solid $gen-teal;
          padding: 8px;
          text-align: left;
        }
        
        tr:nth-child(even) {
            background-color: $gen-teal;
        }
        
        th {
            background-color: black;
            color: white;
        }
      }
    }
    
    //FIN ACCUEIL ADMIN accueilAdmin.phtml
    
    
    
    //DÉBUT AJOUT OBJET ADMIN addItemForm.phtml
      
    #additemform-wrapper{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      
      #additem-form {
        max-width: 35em;
        margin: 1em;
        padding: 2em;
        border: .3em double black;
        border-radius: .5em;
  
        label {
          display: block;
          margin-bottom: .1em;
          font-size: 1.2em;
        }
      
        #add-categorie,
        #add-nom,
        #add-prix,
        #add-image,
        #add-description
        {
          width: 90%;
          padding: .1em;
          margin-bottom: .3em;
          border: 1px solid $peach;
          border-radius: .2em;
          font-size: 1em;
          
          &:focus { 
            outline: none;
            border: 1px solid #39cfdf;
            background-color: #f4f9f9;
            
          }
        }
        
        #add-image {
          border: none;
        }
        
        #additemform-button {
          background: $button-color;
          color: #fff;
          padding: .4em .6em;
          border: none;
          border-radius: 3px;
          font-size: 16px;
          cursor: pointer;
          margin-left: 80%;
      
          &:hover {
            background: $button-hover;
          }
        }
      }
    }
    //FIN AJOUT OBJET ADMIN addItemForm.phtml
    
    
    
    //DÉBUT GESTION DES OBJETS gestionItem.phtml
    
    #gestionitem-wrapper {
      
      #tableitems-wrapper {
        display: block;
        margin-top: 2em;
        overflow-x: auto;
        
        img {
          max-height: 5em;
        } 
        
        th, td {
          border: 1px solid $gen-teal;
          padding: 8px;
          text-align: left;
        }
        
        tr:nth-child(even) {
            background-color: $gen-teal;
        }
        
        th {
            background-color: black;
            color: white;
        }
        
      #edit-item,
      #delete-item {
          background: white;
          margin-top: 1em;
          padding: .4em .6em;
          border: .05em solid $gen-teal;
          border-radius: 4px;
          cursor: pointer;
          font-family: $text-font;
          font-size: 1em;
          
          &:hover {
            color: white;
            background: $button-hover;
          }
        }
      }
    }
    
    //FIN GESTION DES OBJETS gestionItem.phtml
    
    
    
    //DÉBUT MODIFICATION DES OBJETS editItemForm.phtml
    
    #edititemform-wrapper{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      
      #edititem-form {
        max-width: 35em;
        margin: 1em;
        padding: 2em;
        border: .3em double black;
        border-radius: .5em;
  
        label {
          display: block;
          margin-bottom: .1em;
          font-size: 1.2em;
        }
      
        #edit-categorie,
        #edit-nom,
        #edit-prix,
        #edit-image,
        #edit-description
        {
          width: 90%;
          padding: .1em;
          margin-bottom: .3em;
          border: 1px solid $peach;
          border-radius: .2em;
          font-size: 1em;
          
          &:focus { 
            outline: none;
            border: 1px solid #39cfdf;
            background-color: #f4f9f9;
            
          }
        }
        
        #edit-image {
          border: none;
        }
        
        #edititemform-button {
          background: $button-color;
          color: #fff;
          padding: .4em .6em;
          border: none;
          border-radius: 3px;
          font-size: 16px;
          cursor: pointer;
          margin-left: 80%;
      
          &:hover {
            background: $button-hover;
          }
        }
      }
    }
    
    //FIN MODIFICATION DES OBJETS editItemForm.phtml
    
    
    
    //DÉBUT MESSAGERIE ADMIN messagerie.phtml
    
    #messagerie-admin-wrapper {
      
      #table-message-wrapper {
        display: block;
        margin-top: 2em;
        overflow-x: auto;
        
        table {
          th {
              background-color: black;
              color: white;
          }
          
          th, td {
            border: 1px solid $gen-teal;
            padding: 8px;
            text-align: left;
          }
          
          td {
            #div-td-message-username {
              font-weight: 700;
            }
          }
          
          tr:nth-child(even) {
              background-color: $gen-teal;
          }
          
        }
      }
    }
    
    //FIN MESSAGERIE ADMIN messagerie.phtml
    
    
    
    //DÉBUT ESPACE PERSONNEL espacePersonnel.phtml
    
    #espacepersonnel-wrapper {
      
      .editinfo-hidden {
        //Prevent la suite du JS au niveau du boutton. A corriger
        display: none;
      }
      
      #editinfo-form {
        margin: 0 2em 0 4em;
        display: grid;
        grid-template-rows: 3em 3em 3em 3em;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: start;
        
        .editinput-wrapper:first-child {
          grid-area: 1 / 1 / 2 / 2;
          
        }
        
        .editinput-wrapper:nth-child(2) {
          grid-area: 2 / 1 / 3 / 2;

        }
        
        .editinput-wrapper:nth-child(3)  {
          grid-area: 3 / 1 / 4 / 2;
        }
        
        .editinput-wrapper:nth-child(4)  {
          grid-area: 4 / 1 / 5 / 2;
        }
        
        #editinfo-button {
          grid-area: 2 / 2 / 3 / 3;
          
          justify-self: end;
          display: inline-block;
          margin-right: 1em;
          padding: .4em .6em;
          background: $button-color;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          
          &:hover {
            background: $button-hover;
          }
          
          &.annuler {
            background: $cancel-color;
            
            &:hover {
              background: $cancel-hover;
            }
          }
        }
        
        #editinfoform-button {
          
              //Display à retirer quand JS et PHP fixé
              display: none;
              //Display à retirer quand JS et PHP fixé
              
          grid-area: 3 / 2 / 4 / 3;
          
          justify-self: end;
          margin-right: 1em;
          padding: .4em .8em;
          background: $button-color;
          font-size: 1em;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          
          &:hover {
            background: $button-hover;
          }
        }
      }
    
    //Début Favoris
    
      #liste-favoris-wrapper {
        margin-bottom: 1em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
        
        .favorite-item-unique {
          
          margin: .5em;
          padding: .5em .7em 0 .7em;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;
          text-align: justify;
          width: 17em;
          height: 26em;
          border: .05em solid $gen-teal; 
          border-radius: 1px;
          
          h4 {
            padding-bottom: .2em;
            
          }
          
          img {
            background-color: $gen-teal;
            max-width: 10em;
            padding: .5em;
          }
          
          p:nth-child(3) {
            margin-top: 1em;
          }
          
          .favorite-price-remove {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 3em;
            
            .categorie-prix {
              margin-top: auto;
              margin-bottom: .5em;
              align-self: flex-start;
              text-shadow: black 0px .2px;
            }
            
            .remove-fav {
              padding: 0;
              max-height: 3em;
              background-color: transparent;
              border: none;
              cursor: pointer;
              
              img {
                padding: .2em;
                height: 3em;
                background-color: $gen-teal;
                border: .05em solid #2C9685;
              }
            }
          }
        }
        
      }
      
    }
    
    //Fin Favoris
    //FIN ESPACE PERSONNEL espacePersonnel.phtml
    
    
    //DÉBUT INSCRIPTION inscription.phtml
    
    #inscription-wrapper{
      margin-top: .5em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      
      #inscription-form {
        max-width: 35em;
        margin: .8em 1em 1em 1em;
        padding: 2em 2em 1em 2em;
        border: .3em double black;
        border-radius: .5em;
        
        label {
          display: block;
          margin-bottom: .1em;
          font-size: 1.2em;
        }
      
        #inscription-nom,
        #inscription-prenom,
        #inscription-email,
        #inscription-username,
        #inscription-password,
        #confirmation-password
        {
          width: 90%;
          padding: .1em;
          margin-bottom: .3em;
          border: 1px solid $peach;
          border-radius: .2em;
          font-size: 1em;
          
          &:focus { 
            outline: none;
            border: 1px solid #39cfdf;
            background-color: #f4f9f9;
  
          }
        }
        
        #inscription-button {
          background: $button-color;
          color: #fff;
          margin-top: 1em;
          padding: .4em .6em;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin-left: 65%;
          font-family: $text-font;
          font-size: 1em;

      
          &:hover {
            background: $button-hover;
          }
        }
      }
    }
    
    //FIN INSCRIPTION inscription.phtml
    
    
    
    //DÉBUT CONNEXION connexion.phtml
    
    #connexion-wrapper{
      margin-top: .5em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      
      #connexion-form {
        max-width: 35em;
        margin: .8em 1em 1em 1em;
        padding: 2em 2em 1em 2em;
        border: .3em double black;
        border-radius: .5em;
  
        label {
          display: block;
          margin-bottom: .1em;
          font-size: 1.2em;
        }
      
        #connexion-username,
        #connexion-password,
        {
          width: 90%;
          padding: .1em;
          margin-bottom: .3em;
          border: 1px solid $peach;
          border-radius: .2em;
          font-size: 1em;
          
          &:focus { 
            outline: none;
            border: 1px solid #39cfdf;
            background-color: #f4f9f9;
            
          }
        }
        
        #connexion-button {
          background: $button-color;
          color: #fff;
          margin-top: 1em;
          padding: .4em .6em;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin-left: 56%;
          font-family: $text-font;
          font-size: 1em;
          
          
          &:hover {
            background: $button-hover;
          }
        }
      }
    }
    
    //FIN CONNEXION connexion.phtml
    
    //DÉBUT CONTACT contact.phtml
    
    #contact-wrapper {
      margin-top: .5em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      .contact-infos {
        margin-bottom: 1em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        img {
          max-width: 3em;
        }
        
        p {
          font-size: 1.4em;
        }
        
        span:last-child {
            display: inline-block; 
            font-size: 1.4em;
            background-image: linear-gradient(to right, white, #9FCDC3, #5ED3C2, #9FCDC3, white);
            padding-bottom: .15em;
            background-size: 100% .1em;
            background-position: 0% 100%;
            background-repeat: no-repeat;
            text-shadow: black 0px .2px;
          }
      }
      
      #contact-form-wrapper {
        margin-top: .5em;
        font-size: 1.5em;
        
        #contact-us-onwebsite {
          margin-left: 1em;
        }
        
        #contact-form {
          max-width: 35em;
          margin: 1em 1em 1em 1em;
          
          label {
              font-family: $long-text-font;
              font-size: .7em;
          }
          
          #text-message-sent {
            width: 90%;
            padding: .5em;
            margin-bottom: .3em;
            border: 1px solid $peach;
            border-radius: .2em;
            font-family: $long-text-font;
            font-size: 1em;
            
            &::placeholder {
              font-size: .8em;
            }
            
            &:focus { 
              outline: none;
              border: 1px solid #39cfdf;
              background-color: #f4f9f9;
              
            }
          }
          
          #send-message-button {
            background: $button-color;
            color: #fff;
            margin-top: 1em;
            padding: .4em .6em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 65%;
            font-family: $text-font;
            font-size: 1em;
            
            
            &:hover {
              background: $button-hover;
            }
          }
        }
      }
      
      #contact-redirection {
        margin-top: 1.5em;
        text-align: center;
        font-size: 1.1em;
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        
      }
    }
    
    
    //FIN CONTACT contact.phtml
    
    //DÉBUT CGU cgu.phtml
    
    #cgu-wrapper,
    #ml-wrapper,
    #aboutus-wrapper,
    #privacypolicy-wrapper {
      margin: .4em;
      
      h1{
        text-align: center;
      }
      
      p {
        font-family: $long-text-font;
        margin-top: .7em;
      }
      
      #thx-text {
        text-align: justify;
        margin: 1em 0 1em 0;
        font-size: 1.3em;
      }
      
      ul {
        li {
          font-family: $long-text-font;
        }
      }
    }
    
    //FIN CGU cgu.phtml
  
  }
  //Fin CSS MAIN
  
//RESPONSIVE POUR DESKTOP

  @media only screen and (min-width: 768px) {
    header {
      width: auto;
      height: 7rem;
      display: grid;
      grid-template-columns: 6fr 1fr 70%;
      
      
      #logo {
        grid-column: 1 / 2;
        height: 100%;
        width: 100%;
      }
      
      #insta-link {
        grid-column: 2 / 3;
        justify-self: center;
      }
      
      #navigation-desktop {
        grid-column: 3 / 4;
        

        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        justify-content: space-evenly;
        align-items: center;
        
        a {
          color: white;
          font-family: $link-font;
          font-size: 1.3em;
          white-space: nowrap;
          
          &:hover {
          color: $link-hover;
          }
        }
      }
    }
      
    #navigation,
    #burger
    {
      display: none;
    }
      
      
    // DÉBUT MAIN
    
    main {
      
    // DÉBUT MAIN ACCUEIL index.phtml
      #accueil-wrapper {
      
        #div-photo-accueil {
          display: flex;
          flex-flow: row nowrap; 
          justify-content: space-evenly;
          margin: 1rem;
        
          #photo-accueil {  
            max-width: 20rem;
            padding: .6em;
            border: .3em double black;
          }
          
          #message-accueil {
            font-size: 1.7em;
            word-spacing: .09em;
            padding: 0 2em 0 2em;
            text-align: center;
          } 
          
          hr {
            display: none;
          }
        }
        
        #adresse-accueil {
            display: none;
          }
        
        //CARTE
        
        #map {
          display: block;
          height: 20rem;
          /*width: 100%;*/
          margin: 1em 0 1em 0;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          
            
          iframe {
            min-width: 100%;
            height: 100%;
            }
        }
      }
    // FIN MAIN ACCUEIL index.phtml
    
    
    
    // DÉBUT ACCUEIL ADMIN accueilAdmin.phtml
    
      #accueilAdmin-wrapper {
      
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
  
        
        h4 {
          margin-top: 1em;
        }
        
        #accueilAdmin-redirect {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          gap: 1em;
        }
        
        #listusers-wrapper {
          align-self: center;
          margin: 1em;
          font-size: 1em;

          th, td {
            border: 1px solid $gen-teal;
            padding: 8px;
            text-align: left;
          }
          
          tr:nth-child(even) {
              background-color: $gen-teal;
          }
          
          th {
              background-color: black;
              color: white;
          }
        }
      }
    
    // FIN ACCUEIL ADMIN accueilAdmin.phtml
    
    
    //FIN GESTION ITEM gestionItem.phtml
    
    
      
    //FIN GESTION ITEM gestionItem.phtml
    }
  }
}